@import url(https://fonts.googleapis.com/css?family=Montserrat);

html { margin: 0px; }

body { margin: 0px;
       background-color: white;
       font-family: "Montserrat", sans-serif; }

h2 { background-color: #95a5a6;  /* flat: concrete */
     color: white;
     margin: 0;
     font-size: 120%;
     padding-top: 4px;
     padding-left: 4px;
     padding-right: 4px;
     height: 33px;
     width: 100%;
     position: relative;
     z-index: 999;
     box-sizing: border-box;
     white-space: nowrap; }
h2:nth-of-type(1) { background-color: #e74c3c; }  /* flat: alizarin */
h2:nth-of-type(2) { background-color: #f39c12; }  /* flat: orange */
h2:nth-of-type(3) { background-color: #1abc9c; }  /* flat: turquoise */
h2:nth-of-type(4) { background-color: #3498db; }  /* flat: peter river */
h2:nth-of-type(5) { background-color: #9b59b6; }  /* flat: amethyst */
h2:first-of-type { margin-top: 0; }
h2 { margin-top: 20px;
     margin-bottom: 0; }
h2.stuck { position: fixed;
           top: -2px; }

h3 { margin: 0;
     padding-top: 2px;
     padding-left: 4px;
     font-weight: normal;
     font-size: 80%; }
h3 > ul { display: inline;
          padding: 0; }
h3 ul li { display: inline;
           padding-left: 2px;
           padding-right: 2px;
           list-style-type: none; }

/* title and low battery in header */
h2 .title { float: left; }
h2 .battery_level { float: right;
                    cursor: pointer; }

/* text below title with oldest timestamp and control */
h3:nth-of-type(1) { color: #e74c3c; }  /* flat: alizarin */
h3:nth-of-type(2) { color: #f39c12; }  /* flat: orange */
h3:nth-of-type(3) { color: #1abc9c; }  /* flat: turquoise */
h3:nth-of-type(4) { color: #3498db; }  /* flat: peter river */
h3:nth-of-type(5) { color: #9b59b6; }  /* flat: amethyst */

/* hover on +/- dates and battery level */
h3 ul li:hover { color: white; cursor: pointer; }
h3:nth-of-type(1) li:hover { background-color: #e74c3c; }  /* flat: alizarin */
h3:nth-of-type(2) li:hover { background-color: #f39c12; }  /* flat: orange */
h3:nth-of-type(3) li:hover { background-color: #1abc9c; }  /* flat: turquoise */
h3:nth-of-type(4) li:hover { background-color: #3498db; }  /* flat: peter river */
h3:nth-of-type(5) li:hover { background-color: #9b59b6; }  /* flat: amethyst */

.wrapper { margin-top: 15px; }

.gauge_box svg text { font-family: "Montserrat", sans-serif; }

#sensor_model { display: none; }

@media (min-width: 568px) {
  /* both charts and gauges */
  .chart_row { margin-right: 150px; }
  .trend_box { float:left;
               width: 100%; }
  .gauge_box { float: right;
               margin-right: -150px;
               margin-top: 25px; }
  .cleared { clear: both; }
  h3 { display: block; }
  .fliptip { display: none; }
}

@media (max-width: 567px) {
  .trend_box { display: none; }
  .cleared { display: none; }
  .wrapper { width: 100%;
             text-align: center; }
  .chart_row { display: inline-block; }
  .gauge_box { display: inline-block; }
  h3 { display: none; }
  .fliptip { background-color: #ecf0f1;  /* flat: clouds */
             color: #16a085;  /* flat: green sea */
             position: fixed;
             text-align: center;
             font-size: 90%;
             bottom: 0px;
             width: 100%;
             padding-top: 3px;
             padding-bottom: 3px;
             border-top: 2px solid white; }
  body { margin-bottom: 30px; }
}
