.piheat-header {
  margin-bottom: 25px;
  padding-bottom: 10px;
  background-color: #6f5499;
}

.piheat-header h1 {
  color: white;
}

.piheat-header p {
  color: #cdbfe3;
}

.piheat-bottomspace {
  margin-bottom: 20px;
}

#page-control .btn-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

#page-control .btn-group {
  margin-left: 10px;
  margin-right: 10px;
}

.piheat-topspace {
  margin-top: 20px;
}

div#piheat-program {
  margin-top: 20px;
}

.row-no-padding [class*="col-"] {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.prog-row {
  margin-bottom: 10px;
}

#prog-empty {
  font-size: 150%;
  color: #c0c0c0;
  text-align: center;
}

.piheat-credits {
  margin-top: 40px;
  color: #c0c0c0;
}

#control-container-schedule {
  margin-top: 10px;
}

.piheat-credits a#piheat-link {
  color: #6f5499;
}

div#piheat-labels {
  height: 25px;
}

#update-status-updating {
  color: #c0c0c0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
