.piheat-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  margin-bottom: 25px;
  padding-bottom: 10px;
  background-color: #6f5499;
}

.piheat-header a,
.piheat-header a:link,
.piheat-header a:hover,
.piheat-header a:active,
.piheat-header a:visited {
  color: inherit;
  text-decoration: none;
}

.master-container {
  padding-top: 60px;
}

.piheat-header h1 {
  color: #D3AFE7;
  margin-top: 5px;
  margin-bottom: -4px;
  white-space: nowrap;
  font-size: 200%;
}

.piheat-header h1 #text-thingname {
  color: white;
}

.piheat-header p {
  color: #cdbfe3;
}

#heating-status {
  font-size: 170%;
}

.piheat-bottomspace {
  margin-bottom: 20px;
}

#heating-override {
  margin-top: -15px;
  font-weight: normal;
  color: #808080;
}

#page-control .btn-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

#page-control .btn-group {
  margin-left: 10px;
  margin-right: 10px;
}

.piheat-topspace {
  margin-top: 20px;
}

div#piheat-program {
  margin-top: 20px;
}

.row-no-padding [class*="col-"] {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

#heating-override-on .text-success,
#heating-override-off .text-danger {
  font-weight: bold;
}

.prog-row {
  margin-bottom: 10px;
}

#prog-empty {
  font-size: 150%;
  color: #c0c0c0;
  text-align: center;
}

.piheat-credits {
  margin-top: 40px;
  color: #c0c0c0;
  font-size: 90%;
}

#control-container-schedule {
  margin-top: 10px;
}

.piheat-credits a#piheat-link {
  color: #6f5499;
}

div#piheat-labels {
  height: 25px;
}

#update-status-updating {
  color: #c0c0c0;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

.prog-head {
  padding-left: 7px;
  padding-right: 7px;
}

.prog-head .slider-container {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 12px;
  margin-right: 12px;
}

.prog-head .slider-container .slider-selection {
  /* green (#5cb85c) to orange (#f0ad4e) */
  background: linear-gradient(to right, #5cb85c, #f0ad4e);
}
