.piheat-header {
  margin-bottom: 25px;
  padding-bottom: 10px;
  background-color: #6f5499;
}

.piheat-header h1 {
  color: white;
}

.piheat-header p {
  color: #cdbfe3;
}

.piheat-bottomspace {
  margin-bottom: 20px;
}

.piheat-topspace {
  margin-top: 20px;
}

.piheat-credits {
  margin-top: 40px;
  color: #c0c0c0;
}

.piheat-credits a#piheat-link {
  color: #6f5499;
}

div#piheat-labels {
  height: 25px;
}

#update-status-updating {
  color: #c0c0c0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
