{
  "thingid": "@THING_ID@",
  "thingname": "@THING_NAME@",
  "msg_expiry_s": 300,
  "cmd_expiry_s": 7200,
  "get_commands_every_s": 30,
  "send_status_every_s": 60,
  "password": "@THING_PASSWORD@",
  "switch_file": "/tmp/heat"
}
